<footer id="gtco-footer" role="contentinfo">
    <div class="container">

        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block">&copy; Związek Syndykalistów Polski</small><br/>
                    <a href="https://godna-praca.pl" target="_blank">Kampania "Godna Praca"</a><br/>
                    <a href="https://zsp.net.pl" target="_blank">Związek Syndykalistów Polski</a><br/>
                    <a href="https://iwa-ait.org" target="_blank">Międzynarodowe Stowarzyszenie Pracowników (MSP/IWA-AIT)</a><br/>
                    <br/>
                    <small class="block">
                        <a href="http://freehtml5.co/" target="_blank" rel="nofollow">Based on layout from FreeHTML5.co</a><br/>
                        <a target="_blank" rel="nofollow" href="https://icons8.com">Using icons from Icons8</a><br/>
                    </small>
                </p>
                <p class="pull-right">
                <ul class="gtco-social-icons pull-right">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/ZwiazekSyndykalistowPolski/" target="_blank" rel="nofollow"><i class="icon-facebook"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</footer>
