<footer id="gtco-footer" role="contentinfo">
    <div class="container">

        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block">&copy; ZSP</small>
                    <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small>
                </p>
                <p class="pull-right">
                <ul class="gtco-social-icons pull-right">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/ZwiazekSyndykalistowPolski/" target="_blank" rel="nofollow"><i class="icon-facebook"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</footer>
