<nav class="gtco-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">
                    <a href="index.html">Z<em>wiązek</em> S<em>yndykalistów</em> P<em>olski</em></a>
                </div>
            </div>
            <div class="col-xs-10 text-right menu-1 main-nav">
                <ul>
                    <li><a href="#" data-nav-section="about">Kim jesteśmy?</a></li>
                    <li><a href="https://zsp.net.pl" target="_blank" class="external">Nasze najświeższe działania</a></li>
                    <li><a href="#" data-nav-section="our-team">Przyłącz się!</a></li>
                    <li class="btn-cta"><a href="#" data-nav-section="contact"><span>Skontaktuj się z nami!</span></a></li>
                    <!-- For external page link -->
                    <!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
                </ul>

                <a href="https://iwa-ait.org" target="_blank" class="external">
                    <p class="header-iwa-ait-mention nav-scrollable" role="navigation">
                        <i>Jesteśmy częścią Międzynarodowego Stowarzyszenia Pracowników</i>
                    </p>
                </a>
            </div>
        </div>

    </div>
</nav>
