<nav class="gtco-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12 zsp-logo-container">
                <div id="gtco-logo">
                    <a href="https://zsp.net.pl" target="_blank">
                        <img src="images/zsp.png"/>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 text-right menu-1 main-nav menu-container">
                <ul>
                    <li><a href="https://zsp.net.pl" target="_blank" class="external">Nasze najświeższe działania</a></li>
                </ul>

                <a href="https://iwa-ait.org" target="_blank" class="external" >
                    <p class="header-iwa-ait-mention nav-scrollable" role="navigation">
                        <i>Jesteśmy częścią Międzynarodowego Stowarzyszenia Pracowników "IWA-AIT"</i>
                    </p>
                </a>
            </div>
        </div>
    </div>
</nav>
