<section id="gtco-practice-areas" data-section="practice-areas">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading">
                <h1>Kim jesteśmy i czym się zajmujemy?</h1>
                <p class="sub">Jesteśmy organizacją <strong>non-profit</strong>, działającą na rzecz dobra pracowników, <strong>całkowicie niezależną od wpływów biznesu oraz od partii politycznych</strong>.</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">Pomoc <span>wzajemna</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/strike.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Walka z oszustami</h3>
                        <p>Niewypłacane pieniądze to tylko czubek góry lodowej - brak możliwości chorowania, praca "na czarno", wykorzystywanie trudnej sytuacji pracowników, mobbing, zastraszanie, nieprawne umowy zrzekające pracownika z poczucia bezpieczeństwa. Trzeba to zakończyć!</p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/idea.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Wzbudzanie zainteresowania tym, co istotne</h3>
                        <p>
                            Dziś każdy żyje w swojej bańce, każdy boi się o swoją część. Nierzadko udzielając cichej zgody na to, co nie powinno się wydarzyć.
                            <strong>Nagłaśniamy, żądamy uwagi i interwencji. Los zwykłych ludzi jest najważniejszy! Nie prezesów, bankierów i polityków!</strong>
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/groups.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Wzmacnianie pozycji pracowników i pracownic</h3>
                        <p>Musimy być silni, musimy żądać więcej! Bez owoców naszej pracy nie ma społeczeństwa.
                            <strong>
                                Bez lekarzy nie ma ratowania życia, bez pracowników czystości ulice byłyby wypełnione śmieciami.
                                Jesteśmy fundamentami tego i każdego systemu! Widać to w dobie epidemii COVID-19, bez kogo byśmy sobie nie poradzili!
                            </strong>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/solidarity.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Pracownicy pracownikom</h3>
                        <p>
                            W ZSP członkami mogą być tylko i wyłącznie osoby, które nie zatrudniają pracowników pod sobą, nie mają dużych udziałów majątkowych w firmach, oraz nie są służbami państwowymi.<br/><br/>
                            Konsekwentnie, obok pracownika nie może być jego szef, czy policjant atakujący protest pracowniczy w czasie służbowym.
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/equality.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                    <div class="gtco-copy">
                        <h3>Równy głos</h3>
                        <p>
                            <strong>Każdy członek u nas ma dokładnie jeden głos, nie ma lepszych i gorszych. Nie ma organu centralnego i szefów. Ty też decydujesz!</strong><br/><br/>
                            Każda sekcja jest niezależna w swoich lokalnych sprawach, w sprawach ogólno-organizacyjnych organizowane są referenda, poza tym każda sekcja musi przestrzegać statutu organizacji.
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/double.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                    <div class="gtco-copy">
                        <h3>Działamy dwutorowo</h3>
                        <p>
                            Wychodzimy zdecydowanie poza ramy związków zawodowych - działamy zarówno formalnie <strong>według procedury prawnej</strong>, jak i nieformalnie - <strong>wywierając nacisk na pracodawcę m.in. nagłaśniając sprawę, odmawiając pracy czy nawołując do bojkotu</strong>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
