<section id="gtco-practice-areas" data-section="practice-areas">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Kim jesteśmy i czym się zajmujemy?</h1>
                <p class="sub">Jesteśmy organizacją non-profit, działającą na rzecz dobra pracowników, całkowicie niezależną od wpływów biznesu oraz od partii politycznych.</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">Pomoc <span>wzajemna</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/scale.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Walka z oszustami</h3>
                        <p>Niewypłacane pieniądze to tylko czubek góry lodowej - brak możliwości chorowania, praca "na czarno", wykorzystywanie trudnej sytuacji pracowników, mobbing, zastraszanie, nieprawne umowy zrzekające pracownika z poczucia bezpieczeństwa. Trzeba to ukrócić.</p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/scale.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Wzbudzanie zainteresowania tym, co istotne</h3>
                        <p>
                            Dziś każdy żyje w swojej bańce, każdy boi się o swoją część. Nierzadko udzielając cichej zgody na to, co nie powinno się wydarzyć.
                            <strong>Nagłaśniamy, żądamy uwagi i interwencji. Los zwykłych ludzi jest najważniejszy! Nie prezesów, bankierów i polityków!</strong>
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/scale.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Wzmacnianie pozycji pracowników i pracownic</h3>
                        <p>Musimy być silni, musimy żądać więcej! Bez owoców naszej pracy nie ma społeczeństwa.
                            <strong>
                                Bez lekarzy nie ma ratowania życia, bez pracowników czystości ulice byłyby wypełnione śmieciami.
                                Jesteśmy fundamentami tego i każdego systemu! Widać to w dobie epidemii COVID-19, bez kogo byśmy sobie nie poradzili!
                            </strong>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/scale.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Divorce Law</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                    <div class="gtco-copy">
                        <h3>Corporate Law</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                    <div class="gtco-copy">
                        <h3>Accident Law</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
