<section id="gtco-practice-areas" data-section="practice-areas">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading">
                <h1>Kim jesteśmy i czym się zajmujemy?</h1>
                <p class="sub">Jesteśmy organizacją <strong>non-profit</strong>, działającą na rzecz dobra pracowników, <strong>całkowicie niezależną od wpływów biznesu oraz od partii politycznych</strong>.</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">Pomoc <span>wzajemna</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/groups.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Samoorganizacja</h3>
                        <p>
                            W epoce silnego indywidualizmu potrzebujemy silnej mobilizacji pracowniczej.
                            <strong>Podzieleni będziemy się musieli zgadzać na zaciskanie pasa, zrzeszeni w grupę będziemy silną stroną do negocjacji!</strong><br/><br/>
                            Czasy takie jak stan epidemiczny weryfikują, której grupy społecznej postulaty brane są pod uwagę - epidemia COVID-19 pokazała, że pracownicy się dla rządu nie liczą.<br/>
                            <strong>Musimy to zmienić! Dołącz do nas!</strong>
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/strike.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Walka z oszustami</h3>
                        <p>
                            <strong>Walczmy o ludzkie warunki i wyższe płace w naszych miejscach pracy!</strong>
                            <br/><br/>Niewypłacane pieniądze to tylko czubek góry lodowej - brak możliwości chorowania, praca "na czarno", wykorzystywanie trudnej sytuacji pracowników, mobbing, zastraszanie, nieprawne umowy zrzekające pracownika z poczucia bezpieczeństwa. Trzeba to zakończyć!
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/idea.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Idziemy z duchem czasu</h3>
                        <p>
                            Uważamy, że nie należy spoczywać na laurach. <strong>Ponad 130 lat temu wywalczono 8-godzinny dzień pracy, dziś powinniśmy walczyć o dalsze skracanie czasu pracy, powszechną darmową opiekę zdrowotną czy o demokratyczny wpływ na nasze miejsca pracy</strong> - miejsca pracy to nie folwark!<br/><br/>Ani kroku w wstecz! Utwórz organizację pracowniczą na swoim zakładzie!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/solidarity.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Pracownicy pracownikom</h3>
                        <p>
                            W ZSP członkami mogą być tylko i wyłącznie osoby, które nie zatrudniają pracowników pod sobą, nie mają dużych udziałów majątkowych w firmach, oraz nie są służbami państwowymi.<br/><br/>
                            <u>Konsekwentnie - obok pracownika nie może być jego szef, czy policjant atakujący protest pracowniczy w czasie służbowym.</u>
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/equality.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Równy głos</h3>
                        <p>
                            <strong>Każdy członek u nas ma dokładnie jeden głos, nie ma lepszych i gorszych. Nie ma organu centralnego i szefów. Ty też decydujesz!</strong><br/><br/>
                            Każda sekcja jest niezależna w swoich lokalnych sprawach, w sprawach ogólno-organizacyjnych organizowane są referenda, poza tym każda sekcja musi przestrzegać statutu organizacji.
                        </p>
                    </div>
                </div>

                <div class="gtco-practice-area-item animate-box">
                    <div class="gtco-icon">
                        <img src="images/icons/double.png">
                    </div>
                    <div class="gtco-copy">
                        <h3>Działamy dwutorowo</h3>
                        <p>
                            Wybieramy metody działania, które są skuteczne - na drodze prawnej, oraz na drodze medialnego protestu społecznego<br/><br/>
                            Z nami możesz nauczyć się tworzyć oficjalne pisma, organizować pikiety pracownicze oraz demonstracje, nagłaśniać sprawy w mediach, prowadzić kampanie.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
