<section id="engagementTab" data-section="our-team">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-10 col-md-offset-1 heading">
                <h1>Dołącz do nas!</h1>
                <br/>
                <p>Aplikuj na członka związku regionalnego lub branżowego, lub załóż nowy związek według naszych instrukcji. <br/>Możesz też nas wspierać jako sympatyk.</p>
            </div>
        </div>
    </div>

    {{ partial "_engagement_tabs" .Site.Params.engagement }}

    <div class="container">
        <p class="zsp-sections">
            <strong>Związki, które przyjmują nowych członków:</strong> <br/>
            &#9733; Związek Syndykalistów Polski - Związek wielobranżowy Warszawa<br/>
            &#9733; Związek Syndykalistów Polski - Sekcja regionalna Wrocław i Dolnośląskie<br/>
            &#9733; Związek Syndykalistów Polski - Łódź i okolice<br/>
            &#9733; Związek Syndykalistów Polski - Publiczna Służba Zdrowia<br/>
            <br/>
            <strong>Zachęcamy oczywiście do zakładania nowych związków - przygotowaliśmy materiały pomocnicze, szablony dokumentów, prezentacje, dzięki którym założenie nowego związku jest niezwykle proste!</strong>
            <br/><br/>
            <strong>Pamiętaj! Zawsze służymy pomocą, bardzo nam zależy na rozbudowie organizacji pomocy wzajemnej! Wierzymy w lepszy, wspólny świat!</strong><br/>
        </p>
        <br/>

        <div class="panel-group" role="tablist" id="stepScenarios">

            {{ range $panelNum, $panel := .Site.Params.join_us }}
            <div class="panel panel-default panel-join-us" data-on-role="{{ $panel.engagement }}">
                <div class="panel-heading" role="tab" id="heading{{ $panelNum }}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ $panelNum }}" aria-expanded="true" aria-controls="collapse{{ $panelNum }}">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <i>{{ $panel.title }}</i> <small>[WYBIERZ]</small>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ $panelNum }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {{ partial "_timeline" $panel }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div><!-- panel-group -->

    </div>
</section>
