<section id="gtco-our-team" data-section="our-team">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Dołącz do nas!</h1>
                <p class="sub">Aplikuj na członka sekcji regionalnej, lub załóż nową sekcję organizacji według naszych instrukcji.</p>
            </div>
        </div>
    </div>

<section class="offersTab">
    <div class="TabsList">
        <div class="tabList">
            <h5 class="offerHead">Sympatyk</h5>
            <p class="offerPara">
                Nie masz możliwości aktywnie uczestniczyć, ale masz możliwość przyjść na wydarzenie zorganizowane przez nas?<br/><br/>
                Bądźmy w kontakcie!
            </p>
        </div>
        <div class="tabList">
            <h5 class="offerHead">Chcę pomagać jako konsultant</h5>
            <p class="offerPara">
                Nie masz możliwości uczestniczyć aktywnie, ale chcesz pomóc?
                Potrzebujemy konsultacji graficznych, prawniczych i tłumaczeniowych
            </p>
        </div>
        <div class="tabList">
            <h5 class="offerHead">Chcę uczestniczyć!</h5>
            <p class="offerPara">
                Będziesz głosować to, co inni poddadzą pod głosowanie? Od czasu do czasu spróbujesz coś zaproponować? Czy będziesz uczęszczać na spotkania grupy (nie na wszystkie, ale na większość)?
            </p>
        </div>
        <div class="tabList">
            <h5 class="offerHead">Będę organizatorem!</h5>
            <p class="offerPara">
                Zaproponuję lub podchwycę istniejący temat, pociągnę go do przodu. Zoorganizuję pikietę, demonstrację lub spotkanie otwarte.
            </p>
        </div>
    </div>
</section>

    <div class="container">
        <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default panel-join-us">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            > Chcę dołączyć do istniejącej sekcji ZSP wypisanej powyżej
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-join-us">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            > Jestem z innego miasta i innej branży, chcę założyć nową sekcję
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div><!-- panel-group -->

    </div>
</section>
