<section id="gtco-our-team" data-section="our-team">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading">
                <h1>Dołącz do nas!</h1>
                <p class="sub">Aplikuj na członka sekcji regionalnej lub branżowej, lub załóż nową sekcję organizacji według naszych instrukcji.<br/><br/>
                </p>
            </div>
        </div>
    </div>

<section class="engagementContainer">
    <div class="engagement-tabs">
        <div class="engagement-tab">
            <h5 class="offerHead">Będę sympatykiem(czką)!</h5>
            <p class="engagement-type-description">
                Nie mam możliwości aktywnie uczestniczyć, ale mogę od czasu do czasu wykonywać któreś z czynności:<br/><br/>
                - Przyjść na pikietę, demonstrację<br/>
                - Rozkleić plakaty<br/>
                - Rozdać ulotki<br/>
                - Promować posty w social media<br/>
                - Skierować kogoś, kto potrzebuje pomocy
            </p>
        </div>
        <div class="engagement-tab">
            <h5 class="offerHead">Chcę pomagać<br/> jako konsultant(ka)!</h5>
            <p class="engagement-type-description">
                Nie mam możliwości aktywnie uczestniczyć, ale chętnie będę w kontakcie aby według moich możliwości pomóc przy jednej lub więcej z tych czynności:<br/><br/>- Wykonywanie grafik np. plakatów, ulotek, bannerów, grafik www, infografik na social media<br/>- Porady prawne<br/>- Promocja postów w social media
            </p>
        </div>
        <div class="engagement-tab">
            <h5 class="offerHead">Chcę uczestniczyć!</h5>
            <p class="engagement-type-description">
                - Będę brać udział w głosowaniach<br/>
                - Według możliwości chcę uczestniczyć w spotkaniach lokalnej grupy<br/>
                - Od czasu do czasu lub częściej coś zaproponuję od siebie<br/>
                - Przyjdę na wydarzenia, czasem mogę pomóc w organizowaniu<br/>
            </p>
        </div>
        <div class="engagement-tab">
            <h5 class="offerHead">Będę organizatorem(ką)!</h5>
            <p class="engagement-type-description">
                - Od czasu do czasu lub częściej zaproponuję nowy bądź podchwycę istniejący temat, pociągnę go do przodu<br/>
                - Zoorganizuję pikietę, demonstrację, spotkanie otwarte lub inną inicjatywę<br/>
                - Będę regularnie uczęszczać na spotkania<br/>
                - Mogę pełnić jakąś funkcję np. skarbnika/skarbniczki czy sekretarza/sekretarki
            </p>
        </div>
    </div>
</section>

    <div class="container">
        <p class="zsp-sections">
            <strong>Sekcje, które przyjmują nowych członków:</strong> <br/>
            &#9733; Związek Syndykalistów Polski - Związek wielobranżowy Warszawa<br/>
            &#9733; Związek Syndykalistów Polski - Sekcja regionalna Wrocław i Dolnośląskie<br/>
            &#9733; Związek Syndykalistów Polski - Łódź i okolice<br/>
            &#9733; Związek Syndykalistów Polski - Publiczna Służba Zdrowia<br/>
        </p>
        <br/>

        <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default panel-join-us">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            > Chcę dołączyć do istniejącej sekcji ZSP wypisanej powyżej
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-join-us">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            > Jestem z innego miasta i innej branży, chcę założyć nową sekcję
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div><!-- panel-group -->

    </div>
</section>
