<section id="gtco-about-headline" data-section="about">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Dlaczego warto wstąpić do nas?</h1>
                <br/>
                <p class="sub">
                    Nigdy nie zostaniesz sam/sama. Organizacja zapewnia sieć kontaktów, pomoc wzajemną oraz doświadczenie.<br/><br/>
                    Firma nie zapłaciła? Niepłatne nadgodziny? Zwolnienie za chorowanie? Nie dostajesz stroju ochronnego? <strong>Członkowie organizacji pomogą Tobie, a Ty jak będziesz mógł/mogła pomożesz im, gdy będą potrzebować pomocy. <u>Tak działa pomoc wzajemna.</u></strong>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="gtco-about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <img src="images/art-pictures/protest.png" class="img-responsive" alt="" style="width: 550px;">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Wspólna sprawa!</h2>
                <p>
                    Wyobraź sobie - dostałeś/aś nieprawne zwolnienie. W Twojej obronie, na drugim końcu świata, pod domem szefa korporacji, w której pracujesz ktoś jest w stanie protestować i robić szefowi siarę z mediami u boku. <strong>Oczywiście Ty decydujesz o działaniach w swojej sprawie.</strong><br/><br/>
                    <a href="https://zsp.net.pl/usa-demonstracja-pod-domem-jeffa-bezosa-w-seattle" target="_blank" class="read-more">Zobacz przykład w firmie Amazon<i class="icon-chevron-right"></i></a><br/><br/>
                    Każdy z nas może znaleźć się w trudnej sytuacji, każdy z nas ma prawo do godnego życia. <strong>W dzisiejszym świecie o swoją godność trzeba się więcej postarać, silniejsi jesteśmy w grupie!</strong><br/><br/>
                    Rozumieją to nawet pracodawcy, którzy zrzeszają się w organizacje skupiające pracodawców i wywierające presję na państwo aby wprowadzić swoje przywileje - nierzadko kosztem pracowników.
                </p>
            </div>
        </div>


        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <img src="images/art-pictures/support.png" class="img-responsive" alt="" style="width: 550px;">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Poduszka ratunkowa</h2>
                <p>
                    Utrata pracy i dochodów? Niewypłacone wynagrodzenie? Potrzeba zapłacić za prawnika w sprawie?
                    <strong>Damy radę!</strong> <br/>Po złożeniu wniosku wypłacimy zapomogę z funduszu samopomocowego, lub zoorganizujemy publiczną zbiórkę - mamy w tym doświadczenie.
                </p>
            </div>
        </div>


        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <img src="images/art-pictures/szach-mat.png" class="img-responsive" alt="" style="width: 450px;">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Świadomość swoich praw</h2>

                Firmy dysponują środkami finansowymi i wiedzą. Zarządy nieustannie się szkolą na temat "zarządzania zasobami ludzkimi" tzn. jak łatwiej uzyskać więcej pracy za mniej pieniędzy. <br/><br/>Pracownicy, aby odpowiedzieć skutecznie na tę siłę muszą się zorganizować i również <strong>zdobyć środki</strong> (np. dzięki składkom), <strong>wiedzę</strong> (np. z zakresu prawa pracy) i <strong>kompetencje w zakresie organizowania się, by swoje prawa skutecznie egzekwować i żądać co raz więcej.</strong> Bardziej efektywnej drogi do stabilnej poprawy warunków pracy, i płacy nie ma.
            </div>
        </div>
    </div>
</section>
