<section id="gtco-about-headline" data-section="about">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Dlaczego warto wstąpić do nas?</h1>
                <br/>
                <p class="sub">
                    Nigdy nie zostaniesz sam/sama. Organizacja zapewnia sieć kontaktów, pomoc wzajemną oraz doświadczenie.<br/><br/>
                    Firma nie zapłaciła? Niepłatne nadgodziny? Zwolnienie za chorowanie? Nie dostajesz stroju ochronnego? <strong>Członkowie organizacji pomogą Tobie, a Ty jak będziesz mógł/mogła pomożesz im, gdy będą potrzebować pomocy. <u>Tak działa pomoc wzajemna.</u></strong>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="gtco-about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <img src="images/art-pictures/protest.png" class="img-responsive" alt="" style="width: 550px;">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Wspólna sprawa!</h2>
                <p>
                    Czy masz problemy w pracy? Szef nie respektuje Twoich praw, źle zarabiasz, zostałeś/aś oszukany/a lub zwolniony/a? Przyłącz się do nas. Razem będziemy w stanie rozwiązać te problemy jako związek. <strong>Oczywiście Ty decydujesz jakie działania podejmiemy razem z Tobą i innymi pracownikami.</strong><br/><br/>
                    <a href="https://zsp.net.pl/usa-demonstracja-pod-domem-jeffa-bezosa-w-seattle" target="_blank" class="read-more">Zobacz przykład w firmie Amazon<i class="icon-chevron-right"></i></a><br/><br/>
                    Każdy z nas może znaleźć się w trudnej sytuacji, każdy z nas ma prawo do godnego życia. <strong>W dzisiejszym świecie o swoją godność trzeba się więcej postarać, silniejsi jesteśmy w grupie!</strong><br/><br/>
                    Pracownicy muszą zacząć się zrzeszać w związki, gdyż bez tego są bez szans w walce z pracodawcami. Działaj razem z nami!
                </p>
            </div>
        </div>


        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <img src="images/art-pictures/support.png" class="img-responsive" alt="" style="width: 550px;">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Poduszka ratunkowa</h2>
                <p>
                    Utrata pracy i dochodów? Niewypłacone wynagrodzenie? Potrzeba zapłacić za prawnika w sprawie?
                    <strong>Damy radę!</strong> <br/>Jeśli jesteś członkiem ZSP, otrzymasz wsparcie w trudnej sytuacji. Mamy też fundusz samopomocowy.
                </p>
            </div>
        </div>


        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <img src="images/art-pictures/szach-mat.png" class="img-responsive" alt="" style="width: 450px;">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Świadomość swoich praw</h2>

                Firmy dysponują środkami finansowymi i wiedzą. Zarządy nieustannie się szkolą na temat "zarządzania zasobami ludzkimi" tzn. jak łatwiej uzyskać więcej pracy za mniej pieniędzy. <br/><br/>Pracownicy, aby skutecznie bronić swoich praw, muszą się zorganizować i zdobyć środki, wiedzę i kompetencje. Możesz to osiągnąć przystępując do naszego związku.
            </div>
        </div>
    </div>
</section>
